aiohttp==3.7.4.post0
altgraph==0.17
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
auto-py-to-exe==2.9.0
backcall==0.2.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
comtypes==1.1.10
cx-Freeze==6.6
cx-Logging==3.0
cycler==0.10.0
decorator==5.0.9
discord==1.0.1
discord-components==2.1.1
discord.py==2.0.0a3575+g45d498c
Django==3.2.9
Eel==0.12.4
Flask==2.0.1
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
idna==2.10
imageio==2.13.2
importlib-metadata==4.4.0
ipython==7.25.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
keyboard==0.13.5
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
MouseInfo==0.1.3
multidict==5.1.0
mysql-connector==2.2.9
mysql-connector-python==8.0.25
networkx==2.6.3
numpy==1.20.3
opencv-python==4.5.2.54
packaging==21.3
pandas==1.3.1
parso==0.8.2
pefile==2021.5.24
pickleshare==0.7.5
Pillow==8.4.0
prompt-toolkit==3.0.19
py-cord==2.0.0b4
PyAutoGUI==0.9.52
pycparser==2.20
pygame==2.0.1
PyGetWindow==0.0.9
Pygments==2.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyMsgBox==1.0.9
pyparsing==3.0.0
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.27
pytesseract==0.3.8
python-dateutil==2.8.2
pyttsx3==2.90
PyTweening==1.0.3
pytz==2021.1
PyWavelets==1.2.0
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
scikit-image==0.19.0
scipy==1.7.3
selenium==3.141.0
six==1.16.0
SpeechRecognition==3.8.1
sqlparse==0.4.2
tifffile==2021.11.2
traitlets==5.0.5
turtle==0.0.1
typing-extensions==3.10.0.0
urllib3==1.26.5
wcwidth==0.2.5
Werkzeug==2.0.1
whichcraft==0.6.1
yarl==1.6.3
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0